.login-bg{
    height: 100vh;
    width: 100%;
    background-color: #FFF7F7;
}

.w-40{
    width: 40%;
    padding: 60px;
}

.google-btn {
    padding: 7px;
    border-radius: 20px;
    width: 100%;
    font-size: 18px;
    background-color: white;
    outline: none;
    border: 1px solid gray;
}

.login-text {
    color: #383737;
    font-weight: 500;
    font-size: 18px;
}

.login-text a{
    text-decoration: none;
    color: rgb(240, 21, 31);
}

@media only screen and (max-width: 576px){
    .w-40{
        width: 90%;
        padding: 40px;
    }
}

